
RewriteEngine on
##RewriteCond %{HTTP_HOST} ^penguins\.ml$ [OR]
##RewriteCond %{HTTP_HOST} ^www\.penguins\.ml$
##RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
##RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
##RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
##RewriteRule ^autodiscover\/autodiscover\.xml$ "https\:\/\/penguins\.ml\/www5\/autodiscover\/autodiscover\.xml" [R=302,L]
